$bodyClaro: #FFF4FD;
$bodyOscuro: #110038;
$gradienteClaro: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$boxShadowClaro: 0 1px 0 0 #110038;
$gradienteOscuro: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
$boxShadowOscuro: 0 1px 0 0 #110038;
$btnClaro: #F7C9F3;
$btnOscuro: #EE3EFE;
$encabezadoDivisorClaroBorder: 1px solid #EE3EFE;
$encabezadoDivisorOscuroBorder: 1px solid #2E32FB;
$btnBusquedaClaro: #F7C9F3;
$btnBusquedaOscuro: $btnOscuro;
$